@media screen and (max-width: 1150px){
    .main{
        grid-template-columns: 450px 450px;
    }
}

@media screen and (max-width: 950px){
    .main{
        grid-template-columns: 400px 400px;
    }
}

/*tablet view*/
@media screen and (max-width: 850px){
    .main{
        grid-template-columns: 400px 350px;
    }
}

@media screen and (max-width: 800px){
    .main{
        grid-template-columns: 350px 350px;
    }

    .collections{
        grid-column: 9/10;
    }
    
    .men{
        grid-column: 10/11;
    }
    
    .women{
        grid-column: 11/12;
    }
    
    .about{
        grid-column: 12/13;
    }
    
    .contact{
        grid-column: 13/14;
    }
}

/*tab view*/
@media screen and (max-width: 768px){
    body{
        overflow-y: scroll;
    }
    .main{
        display: grid;
        width: 98vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 80px 20px 400px auto 20px;
        column-gap: 0;
        row-gap: 0;
    }
    .header{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 98%;
        display: grid;
        grid-template-columns: repeat(32,1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: start;
        align-items: center;
        column-gap: 0;
        row-gap: 0;
        padding: 0;
    }
    .avatar {
        grid-row: 1/2;
        grid-column: 32/33;
        width: 30px;
        height: 30px;
    }
    .cart{
        grid-column: 30/31;
        width: 25px;
        height: 25px;
    }

    .notify{
        grid-column: 30/31;
        width: 18px;
        height: 18px;
    }

    .logo{
        grid-column: 1/9;
    }
    

    .collections{
        grid-column: 16/17;
    }
    
    .men{
        grid-column: 18/19;
    }
    
    .women{
        grid-column: 20/21;
    }
    
    .about{
        grid-column: 22/23;
    }
    
    .contact{
        grid-column: 24/25;
    }

    .aside-image{
        display: none;
    }

    .thumbnail, .img {
        display: none;
    }

    .light-box {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 98%;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        row-gap: 0px;
        position: relative;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); 
    }
    .close-lightbox {
        display: none;
    }
    
    .thumb{
        display: none;
    }

    .light-img{
        grid-column: 3/15;
        grid-row: 1/17;
    }


    .icon-next {
        grid-column: 14/15;
        grid-row: 1/17;
    }

    .icon-previous {
        grid-column: 3/4;
        grid-row: 1/17;
    }
    

    .aside {
        grid-column: 1/2;
        grid-row: 4/5;
        width: 98%;
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 1fr);
        
    }

    .small-title {
        grid-column: 4/13;
        align-self: center;
        grid-row: 1/2;
    }

    .big-title {
        grid-column: 4/13;
        font-size: 30px;
        align-self: start;
        grid-row: 2/3;
    }

    .text {
        grid-column: 4/13;
        grid-row: 3/4;
    }

    .price {
        grid-column: 4/6;
        grid-row: 4/5;
    }

    .percent {
        width: 70px;
        grid-column: 7/9;
        grid-row: 4/5;
        justify-self: center;
        text-align: end;
    }

    .prev-price {
        grid-column: 10/12;
        grid-row: 4/5;
        align-self: center;
        width: 70px;
        justify-self: end;

    }

    .signs {
        grid-column: 4/12;
        grid-row: 5/6;
        height: 60px;
        align-self: center;
    }

    .qty-icons {
        grid-row: 5/6;
    }

    .minus {
        grid-column:4/6;

    }

    .plus {
        grid-column: 10/12;
    }

    .qty {
        grid-column: 7/9;
        grid-row: 5/6;;
    }
    
    .add-to-cart {
        grid-column: 4/12;
        grid-row: 6/7;
        height: 55px;
        align-self: center;
    }
    
    .cart-popup {
        grid-column: 1/2;
        grid-row: 2/3;
        z-index: 10;
    }

    .attribution {
        grid-column: 1/2;
        grid-row: 5/6;
        width: 98vw;
    }
}


@media screen and (max-width: 645px){
    .menu{
        display: block;
    }
    .menu, .close-menu{  
        cursor: pointer;
        grid-row: 1/2;
        grid-column: 4;
        z-index: 7;
    }

    .mobile-menu{
        display: block;
        z-index: 8;
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: repeat(24, 1fr);
    }

    .mobile-item{
        grid-column: 2/3;
        font-size: 18px;
        color: #1e1f23;
        font-weight: 700;
    }

    .mob1{
        grid-row: 1/2;
    }

    .mob2{
        grid-row: 3/4;
    }

    .mob3{
        grid-row: 5/6;
    }

    .mob4{
        grid-row: 7/8;
    }

    .mob5{
        grid-row: 9/10;
    }


    .nav-item{
        display: none;
    }

    .logo{
        grid-column: 11;
    }
 
}